<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Antivirus website">

    <title>Antivirus Website</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stylesindex.css">
    <script src="https://kit.fontawesome.com/3178762777.js" crossorigin="anonymous"></script> <!-- ICONS -->

</head>

<body>

    <div id="container">
        <header id="topmenu" role="menu">
            <div id="logo">
                <a href="/templates/index.html"><img src="/media/logo.png">AV</a>
            </div>

            <nav id="pages">
                <a href="/templates/index.html">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
            </nav>

            <nav id="main-pages">
                <a href="/templates/plans.html">Plans</a>
                <a href="/templates/login.html"><i class="fas fa-user"></i>Login</a>
            </nav>
        </header>

        <section id="main-cover">
            <div id="main-cover-background"></div>
            <div id="main-cover-content">
                <h1>We have the best Antivirus of the market</h1>
                <a href="/templates/plans.html">Choose a Plan</a>
            </div>
        </section>

        <section id="main-content">
            <div class="main-feature">
                <div class="main-feature-content">
                    <h2>Protection against all threats with our service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ridiculus urna aptent tellus scelerisque himenaeos posuere, tristique habitasse eros semper nisi curabitur ad donec massa ligula id egestas. Turpis montes venenatis litora velit volutpat fermentum elementum vivamus sed, nam vel libero faucibus vulputate curae morbi sodales, suscipit dui ornare torquent ultricies class posuere sociis</p>
                </div>
                <i class="fas fa-globe"></i>
            </div>
        </section>

        <footer>

                <nav id="footer-pages">
                    <a href="#">About</a>
                    <a href="#">Jobs</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">FAQ</a>
                </nav>
                 <h6>All rights reserved &#169;</h6>
             <div id="contact-info">
                 <h3>Contact us:</h3>
                 <address>
                     <a href="mailto:example@antivirus.com"><i class="fas fa-envelope"></i>example@antivirus.com</a>
                     <a href="tel:+13115552368"><i class="fas fa-phone-alt"></i>(311) 555-2368</a>
                 </address>
             </div>
                 
        </footer>

    </div>

</body>

</html>